@import url("https://fonts.googleapis.com/css?family=Vibur");
* {
    margin: 0 auto;
}

body {
    background-color: #F2EFEC;
}

#main-wrapper {
    height: 100%;
    width: 100%;
}

#title {
    width: 800px;
    height: 60px;
}

#left {
    width: 400px;
    height: 60px;
    float: left;
    position: relative;
}

#left #logo-wrapper {
    width: 400px;
    height: 60px;
    float: left;
    position: absolute;
}

#left #logo-wrapper span {
    width: auto;
    height: auto;
    font-size: 40px;
    font-family: "Vibur", cursive;
    color: #BB1919;
    top: 1.5px;
    position: absolute;
}

#right {
    width: 400px;
    height: 60px;
    float: left;
    position: relative;
}

#right #image-wrapper {
    width: 25px;
    height: 25px;
    top: 17.5px;
    right: 0%;
    position: absolute;
    cursor: pointer;
}

#right #image-wrapper img {
    position: absolute;
}

#input-wrapper {
    width: 800px;
    height: 30px;
    margin-top: 10px;
}

input {
    width: 796px;
    height: 30px;
    font-size: 20px;
    border: 1px solid #000000;
    text-align: center;
}

input:focus {
    outline: 0;
}

#canvas {
    width: 794px;
    height: 494px;
    background-color: #FFFFFF;
    border: 3px solid #BB1919;
    margin-top: 15px;
    cursor: pointer;
}